[Unit]
Description=Daily Minecraft ${mc_ver} ${srv_type} Server Backup

[Timer]
OnCalendar=daily
AccuracySec=5min
Persistent=true

[Install]
WantedBy=multi-user.target
