[Unit]
Description=Minecraft ${mc_ver} ${srv_type} Server World Backup
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/${daemon_name} backup
User=${user_name}
Group=${user_name}

[Install]
WantedBy=multi-user.target
